@keyframes load {
    from{
        opacity: 0;
        filter: blur(8px);
        transform: translateY(-10%) scale(1.1);
    }
    to{
        opacity: 1;
    }
}

body, html{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
    background: #f0f0f0;
}

body{
    animation: load 0.4s;
}

span.title{
    width: 100%;
    height: 500px;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 32px;
    font-size: 72pt;
    text-align: center;
    background: linear-gradient(0deg, #f0f0f0 0%, #ffffff00 30%), url("img/01107030.JPG") no-repeat center 40%;
    background-size: cover;
}

span.title span::before{
    position: absolute;
    color: #000;
    content: "Davi";
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: blur(2px);
    z-index: -1;
    transform: translateZ(-5px);
}

span.title span{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, #4a6817 0%, #97c743 40%);
    background-clip: text;
    color: transparent;
    z-index: 1;
    transform-style: preserve-3d;
    -webkit-text-stroke: 1px #00000055;
}

span.title small{
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14pt;
    color: #97c743;
    font-weight: 600;
    text-shadow: 0 0 4px #000;
    -webkit-text-stroke: 1px #00000055;
}

bleh{
    position: absolute;
    top: 500px;
    width: 100%;
    height: auto;
    padding: 32px;
    box-sizing: border-box;
}

h1{
    text-decoration: underline dashed;
    font-style: italic;
    text-shadow: 0 0 4px #000;
    margin: 2px;
}

blob{
    width: 100%;
    min-height: 250px;
    padding: 8px;
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0 0 8px 4px #fff;
    margin-top: 16px;
}

blob p{
    width: 40%;
    display: inline-block;
    font-weight: 500;
    margin: 0;
}

blob img{
    float: right;
    height: 100%;
    width: 150px;
    border-radius: 16px;
    mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="1"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="80" height="80"/></g></svg>');
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}
